@font-face {
  font-family: 'roboto-thin';
  src: url('../fonts/roboto/Roboto-Thin.ttf')  format('truetype')
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

center {
  width: 100%;
}

body {
  background: #fff;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.createNew {
  padding-bottom: 20%;
}
